<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hackathon02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9234ABED1D8C5AEE007482E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9234AC041D8C5AEE007482E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9234AC0F1D8C5AEE007482E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
